{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "jest": true
  }
}
